<!DOCTYPE html>
<html lang="en">


<head>
    <title>Hotel Admin Dashboard</title>

    <!-- FAVICONS ICON -->
    <link href="vendor/jquery-nice-select/css/nice-select.css" rel="stylesheet">
    <link href="vendor/owl-carousel/owl.carousel.css" rel="stylesheet">


    <!-- Style css -->
    <link href="css/style.css" rel="stylesheet">

</head>
<body>
<div id="main-wrapper">

    <!--Nav header start-->
    <div class="nav-header">
        <a href="index-2.html" class="brand-logo">
        </a>
        <div class="nav-control">
            <div class="hamburger">
                <span class="line"></span><span class="line"></span><span class="line"></span>
            </div>
        </div>
    </div>